.profile-section
  .picture
    img.profile-picture(v-bind:src="currentFace")
  .name
    span.badge.profile-name
      | {{ currentUser.name }}
ul.room-list
  li.room-item(
    v-for="room in rooms"
    v-on:click="onRoomClicked(room)"
    v-bind:class="bindingClasses"
  )
    span
      | {{ room.name }}
    span.badge
      | {{ room.users_count }}
ul.user-list
  li.user-item(
    v-for="user in users"
    v-on:click="onUserClicked(user)"
  )
    span.fui-user
    span.name
      | {{ user.name }}
