.entrance-view
  .form-section
    img.logo(src="assets/Pocket.png")
    .form-group.name
      input.form-control.login-field(type="text" placeholder="Enter your name")
    .form-group.enter
      a.btn.btn-primary.enter-button
        | Enter lobby
