.entrance-view
  .form-section
    img.logo(src="assets/Pocket.png")
    .form-group.name
      input.form-control.login-field(
        type="text"
        placeholder="ログインネームを入力..."
        v-model="username"
        v-on:keyup.enter="enterRobby"
      )
    .form-group.enter
      a.btn.btn-primary.enter-button(v-on:click="enterRobby")
        | チャットロビーへ入る
      p.message(v-bind:class="{ 'error': error }")
        | {{ message }}
