doctype html
html(lang="ja")
  head
    link(rel="stylesheet" href="venders.css")
    link(rel="stylesheet" href="entrance.css")
    link(rel="stylesheet" href="index.css")
    link(rel="stylesheet" href="chat.css")
    link(rel="stylesheet" href="error.css")
  body
    router-view
  script(src="venders.js")
  script(src="app.js")
