doctype html
html(lang="ja")
  head
    title OpenChat
    meta(charset="utf-8")
    link(rel="stylesheet" href="venders.css")
    link(rel="stylesheet" href="styles.css")
  body
    router-view
  script(src="venders.js")
  script(src="app.js")
