doctype html
html(lang="ja")
  head
    link(rel="stylesheet" href="venders.css")
    link(rel="stylesheet" href="index.css")
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
    .container-fluid
      .row
        .col-sm-3.sidebar
        .col-sm-9.main-view
  script(src="venders.js")
  script(src="application.js")
