doctype html
html(lang="ja")
  head
    link(rel="stylesheet" href="venders.css")
    link(rel="stylesheet" href="index.css")
  body
    div.main-view
      p {{text}}
  script(src="venders.js")
  script(src="application.js")
