doctype html
html(lang="ja")
  head
    link(rel="stylesheet" href="../vender/css/normalize.css")
    link(rel="stylesheet" href="appliacation.css")
    script(src="application.js")
  body
    p Hello World
