body {
  .error-view {
    width: 100%;
    min-width: 800px;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #1abf9c;

    .form-section {
      position: relative;
      background-color: #edeff1;
      border-radius: 6px;
      min-height: 300px;
      min-width: 450px;
      max-width: 450px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 80px;
      padding-bottom: 15px;
      text-align: center;

      > .text {
        margin-bottom: 10px;

        > p {
          font-size: 14px;
          margin: 0;
        }
      }

      > .reload-btn {
        margin-top: 20px;

        > a.btn.btn-primary {
          font-size: 14px;
          padding: 5px 15px;
        }
      }

      > img.logo {
        position: relative;
        margin-top: 30px;
        margin: 30px 150px;
        width: 150px;
        height: 150px;
      }
    }
  }
}
