.error-view
  .form-section
    img.logo(src="assets/icons/Toilet-Paper.png")
    div.text
      p
        b 内部エラーが発生しているようです...
      p
        b しばらくお待ちください
    div.reload-btn
      a.btn.btn-primary(v-on:click="reload") リロード
