div.row.message-view
  ul.message-list
    li.message-item(
      v-for="(index, message) in messages"
      v-bind:class="{'no-face-msg': isPrevUserSame(index) }"
    )
      img.user-face(
        v-bind:src="'assets/faces/' + message.user.face + '.png'"
        v-if="!isPrevUserSame(index)"
      )
      .message-author(v-if="!isPrevUserSame(index)")
        | {{ message.user.name }}
        .sent-time {{ message.formatted_created_at_time }}
      .message-content
        | {{ message.content }}
