nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header
      div#brand-name.navbar-brand
      | オープンチャットα版
    .navbar.navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        li
          a.nav-button#logout
          | ログアウト
