div.row.message-input
  div.col-sm-10.input-form-column
    div.form-group.input-form-wrapper
      input.form-control(type="text")
  div.col-sm-2.button-form-column
    div.form-group
      a.btn.btn-primary.say-button(v-on:click="sendMessage")
       | 発言
