div.row.message-input
  div.col-sm-10.input-form-column
    div.form-group.input-form-wrapper
      input.form-control.message(
        type="text"
        v-model="message"
        v-on:keypress.enter="sendMessage"
        v-bind:placeholder="placeholdingText"
        v-bind:disabled="resWaiting || networkError"
      )
  div.col-sm-2.button-form-column
    div.form-group
      a.btn.say-button(
        v-on:click="sendMessage"
        v-bind:disabled="resWaiting || networkError"
        v-bind:class="{ 'btn-danger': networkError, 'btn-primary': !networkError }"
      )
       | 発言
