@import "variables";

@media (max-width: 767px) {
  .main-view {
    padding-left: $sidebar-min-width !important;
  }

  .message-input-wrapper {
    left: $sidebar-min-width;

    .input-form-column {
      position: absolute;
      float: left;
      width: 75%;
      padding-left: 10px;
    }

    .button-form-column {
      float: right;
      width: 25%;
      padding-right: 10px;
    }
  }
}

@media (min-width: 768px) and (max-width: 999px) {
  .main-view {
    margin-left: 25%;
  }

  .message-input-wrapper {
    position: absolute !important;
    width: 100% !important;
  }
}

@media (min-width: 1000px) {
  .main-view {
    margin-left: $sidebar-max-width;
  }

  .message-input-wrapper {
    left: $sidebar-max-width;
  }
}
