$input-form-height: 35px;
$header-height:     50px;

$profile-section-height: 150px;

$profile-picture-height: 100px;
$profile-picture-width:  100px;

$sidebar-min-width: 200px;
$sidebar-max-width: 250px;
$sidebar-hover-color: #384F66;
$sidebar-selected-color: #4E6277;
$sidebar-list-font-size: 13px;
