$input-form-height: 60px;
$header-height:     50px;

$profile-picture-height: 150px;
$profile-picture-width:  150px;

$sidebar-min-width: 300px;
$sidebar-max-width: 450px;
$sidebar-hover-color: #384F66;
$sidebar-selected-color: #4E6277;
