@import "variables";

@media (max-width: 800px) {
  .main-view {
    margin-left: $sidebar-min-width;
  }
}

@media (min-width: 1000px) {
  .main-view {
    padding-right: $sidebar-max-width + 20px;
    margin-left: $sidebar-max-width;
    width: 100%;
  }
}

.main-view {
  position: absolute;
  top: $header-height;
  bottom: 0px;
  left: 0px;

  > .main-row-container {
    height: 100%;
    padding-bottom: $input-form-height;

    .input-form-column {
      padding-right: 0;
    }

    > .message-view-wrapper {
      height: 100%;
    }

    > .message-input-wrapper {
      height: $input-form-height;
      margin-bottom: 0;
      padding: 0;
    }
  }

  .message-view {
    height: 100%;

    > ul.message-list {
      height: 100%;
      overflow-y: scroll;
      margin-bottom: 0;
      padding-left: 0;
      list-style-type: none;
    }

    li.message-item {
      > .message-content {
        font-size: 14px;
      }
    }
  }

  .message-input {
    margin-top: 15px;

    .input-form-wrapper {
      width: 100%;

      input {
        height: 35px;
      }
    }

    a.btn {
      height: 35px;
      padding: 6px 12px;
    }

    .say-button {
      width: 100%;
    }
  }
}
