.sidebar {
  ul.room-list {
    padding-left: 10px;
    padding-right: 10px;

    > li.room-item {
      color: white;
      padding: 5px 15px 5px 15px;

      > .badge {
        margin-top: 5px;
        float: right;
      }

      &.current {
        background-color: #4E6277;
      }

      &:hover {
        background-color: #384F66;
      }
    }
  }
}
