@import "variables";

@media (max-width: 767px) {
  .main-view {
    padding-left: $sidebar-min-width + 10px;
  }

  .message-input-wrapper {
    left: $sidebar-min-width;
  }
}

@media (min-width: 768px) and (max-width: 999px) {
  .main-view {
    margin-left: 25%;
  }

  .message-input-wrapper {
    position: absolute !important;
    width: 100% !important;
  }
}

@media (min-width: 1000px) {
  .main-view {
    margin-left: $sidebar-max-width;
  }

  .message-input-wrapper {
    left: $sidebar-max-width;
  }
}

.main-view {
  position: fixed;
  width: inherit;
  top: $header-height;
  bottom: 0px;
  left: 0px;
  right: 0;
  padding-left: 0;
  padding-right: 0;

  > .main-row-container {
    height: 100%;
    padding-bottom: $input-form-height + 10px;

    .input-form-column {
      padding-right: 0;
    }

    > .message-view-wrapper {
      height: 100%;
      width: inherit;
    }

    > .message-input-wrapper {
      position: fixed;
      height: $input-form-height;
      width: inherit;
      right: 0;
      bottom: 10px;
      padding-right: 0;
      padding-left: 0;
      margin-bottom: 0;
    }
  }

  .message-view {
    height: 100%;

    > ul.message-list {
      list-style-type: none;
      height: 100%;
      overflow-y: scroll;
      margin-bottom: 0;
      padding-left: 15px;
      padding-right: 15px;
    }

    li.message-item {
      > .message-content {
        font-size: 14px;
        word-wrap: break-word;
        word-break: break-word;
      }
    }
  }

  .message-input {
    height: 100%;
    margin: 0;

    .input-form-wrapper {
      right: 0;
      width: 100%;
      margin-bottom: 0;

      input {
        height: 35px;
      }
    }

    a.btn {
      height: 35px;
      padding: 6px 12px;
    }

    .button-form-column {
      height: 100%;

      .say-button {
        width: 100%;
      }
    }
  }
}
