body {
  .entrance-view {
    width: 100%;
    min-width: 1000px;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #1abf9c;
    padding: 100px 350px 0 350px;

    .form-section {
      position: relative;
      background-color: #edeff1;
      border-radius: 6px;
      min-height: 300px;
      min-width: 400px;

      .form-group.name {
        padding: 30px;
        padding-top: 180px;
        padding-bottom: 0;
      }

      .form-group.enter {
        position: relative;
        padding: 30px;
        padding-top: 0;

        .btn.enter-button {
          width: 100%;
        }
      }
    }
  }
}
