body {
  .entrance-view {
    width: 100%;
    min-width: 800px;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #1abf9c;

    .form-section {
      position: relative;
      background-color: #edeff1;
      border-radius: 6px;
      min-height: 300px;
      min-width: 300px;
      max-width: 550px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 100px;

      .form-group.name {
        padding: 30px;
        padding-top: 180px;
        padding-bottom: 0;
      }

      .form-group.enter {
        position: relative;
        padding: 30px;
        padding-top: 0;

        .btn.enter-button {
          width: 100%;
        }
      }
    }
  }
}
