$input-form-height: 60px;
$header-height:     50px;

body {
  nav.navbar {
    border-radius: 0;

    .navbar-header {
      #brand-name {
        border: 0;
        cursor: default;
      }
    }

    .navbar.navbar-collapse.collapse {
      margin-bottom: 0px;

      ul li a.nav-button {
        border: 0 !important;
        cursor: pointer;
      }
    }
  }

  .container-fluid {
    .sidebar {
      position: fixed;
      top: $header-height;
      bottom: 0;
      left: 0;
      background-color: #2c3e50;

      .profile-section {
        margin-top: 15px;
        height: 200px;
      }

      ul.room-list {
        list-style-type: none;
      }

      li.room-item {

      }
    }

    .main-view {
      position: absolute;
      top: $header-height;
      bottom: 0px;
      left: 0px;
      padding-top: 10px;
      padding-bottom: 10px;

      > .main-row-container {
        height: 100%;
        padding-bottom: $input-form-height;

        > .message-view-wrapper {
          height: 100%;
        }

        > .message-input-wrapper {
          height: $input-form-height;
          margin-bottom: 0;
        }
      }

      .message-view {

      }

      .message-input {
         padding: 10px;

        .input-form-wrapper {
          width: 100%;
        }

        .say-button {
          width: 100%;
        }
      }
    }
  }
}
