@import "variables";

body {
  nav.navbar {
    border-radius: 0;

    .navbar-header {
      #brand-name {
        border: 0;
        cursor: default;
      }
    }

    .navbar.navbar-collapse.collapse {
      margin-bottom: 0px;

      ul li a.nav-button {
        border: 0 !important;
        cursor: pointer;
      }
    }
  }
}
