@import "variables";
@import "mixins";

.sidebar {
  position: fixed;
  top: $header-height;
  bottom: 0;
  left: 0;
  background-color: #2c3e50;
  min-width: $sidebar-min-width;
  max-width: $sidebar-max-width;

  .profile-section {
    margin-top: 15px;
    padding-top: 10px;
    height: 200px;

    > .picture {
      text-align: center;

      > img.profile-picture {
        width: $profile-picture-width;
        height: $profile-picture-height;
      }
    }

    > .name {
      color: white;
      margin-left: 15%;
      margin-right: 15%;

      > .profile-name {
        @include truncate;

        font-weight: bold;
        width: 100%;
        font-size: 15px;
        margin-top: 10px;
        padding: 5px;
      }
    }
  }

  ul {
    padding-left: 10px;
    padding-right: 10px;
    list-style-type: none;
    cursor: default;

    &.room-list {
      margin-top: 10px !important;
    }

    li {
      color: white;
      padding: 5px 15px 5px 15px;

      &.current {
        background-color: $sidebar-selected-color;
      }

      &:hover {
        background-color: $sidebar-hover-color;
      }
    }

    > .room-item {
      > .badge {
        margin-top: 5px;
        float: right;
      }
    }

    > .user-item {
      @include truncate;

      .fui-user {
        font-size: 15px;
        margin-right: 5px;
      }
    }
  }
}
